<template id="app-navbar__template">
	<link rel="stylesheet" href="/components/navbar/style.css">
	<header class="app-navbar__header">

		<div class="app-navbar__logo"></div>
		<div class="app-navbar__menu-container">
			<div class="menu icon"></div>	
		</div>
		<nav class="app-navbar__nav">
			<ul class="app-navbar__links"></ul>
		</nav><div class="app-navbar__hidden"></div>
		<div class="app-navbar__search-container">
			<div class="search icon"></div>	
		</div>

	</header>
</template>
<script src="/components/navbar/script.js"></script>
