.app-form__container {
	display: block;
}

.app-form__submit {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--accent-color);
	display: block;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 0.2em 0.3em 0 rgba(0,0,0,0.4);
	margin: 1em 0 0.2em;
	padding: 0.2em;
	transition: all 0.3s ease-in;
}

.app-form__submit:hover {
	background-color: var(--primary-color-light);
}
